@font-face {
	font-family: 'DIN Pro';
	src: url('DINPro.eot');
	src: local('DIN Pro'), local('DINPro'),
	url('DINPro.eot?#iefix') format('embedded-opentype'),
	url('DINPro.woff2') format('woff2'),
	url('DINPro.woff') format('woff'),
	url('DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html {
	display: grid;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	justify-items: stretch;
	align-items: stretch;
	justify-content: stretch;
	align-content: stretch;
}
body {
	display: grid;
	grid-template-columns: [begin-bar] 41px [end-bar start-main] 1fr [end-main];
	grid-template-rows: 1fr;
	grid-template-areas:
		"sidebar main";
	gap: 0px;
	justify-items: stretch;
	align-items: stretch;
	justify-content: stretch;
	align-content: stretch;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'DIN Pro' !important;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	color: #666666;
}
#logo {
	grid-column: 3/6;
	grid-row: 1/2;
	justify-self: end;
	align-self: center;
	max-width:35vw;
	z-index: 1;
}
#logo img {
	width: 100%;
	cursor: pointer;
}
.panner {
	display: block;
	position: relative;
	align-self: center;
	width: 65%;
	cursor: pointer;
}
.panner img {
	position: relative;
	display: block;
}
#left {
	grid-area: left;
	justify-self: end;
}
#right {
	grid-area: right;
	justify-self: start;
}
#lateral {
	/* as child */
	grid-area: sidebar;
	/* as parent */
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: [begin-button] 41px [end-button] 0.95fr [begin-lang] 50px [end-lang] 1.05fr;
	grid-template-areas:
		"menu"
		"title"
		"lang"
		"desc";
	gap: 0px;
	justify-items: stretch;
	align-items: stretch;
	outline: #666666 solid 1px;
	background-color: #CCCCCC;
}
main {
	grid-area: main;
	display: grid;
	grid-template-columns: [begin-left] 40px 40px [end-left start-center] 1fr [end-center begin-right] 60px 40px [end-right];
	grid-template-rows: [begin-logo] 60px [end-logo] 1fr [begin-counter] 30px [end-counter begin-nav] 25px [end-nav begin-footer] 20px [end-footer];
	grid-template-areas:
		"menu menu logo logo logo"
		"left center center center right"
		"counter counter other hashtag hashtag"
		"nav nav nav nav nav"
		"footer footer footer footer footer";
	gap: 0px;
	justify-items: stretch;
	align-items: stretch;
	justify-content: stretch;
	align-content: stretch;
	width: 100%;
	overflow: hidden;
	background-color: black;
}
#button:hover > div {
	display: block;
}
#button > a {
	width: 100%;
	height: 100%;
	display: block;
	background-image: url("/images/menu_icon.svg");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	outline: #666666 solid 1px;
}
#menu {
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 41px;
	border: #CCCCCC solid 1px;
}
#menu div {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 41px;
	list-style: none;
	border-top: #14FF64 solid 1px;
	background-color: #666666;
	overflow: hidden;
}
#menu div:first-child {
	border-top: #CCCCCC solid 0px;
}
#menu div.active {
	background-color: #666666;
}
a.nav-link, a.nav-link:visited {
	display: inline-block;
	margin: auto;
	width: inherit;
	height: inherit;
	color: #14FF64;
	background-color: #666666;
	text-decoration: none;
	padding: 0.4em;
	font-size: 1.2rem;
	vertical-align: middle;
}
a.nav-link:hover {
	width: 100%;
	height: 100%;
	color: #14FF64;
	background-color: #666666;
	text-decoration: line-through;
}
#menu div:first-child a {
	display: block;
	color: #14FF64;
	background-image: url("/images/logo_dark.svg");
	background-color: #14FF64;
	background-size: inherit;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
}
#languages {
	/* as child */
	grid-area: lang;
	/* as parent */
	display: grid;
	grid-auto-flow: row;
	place-items: stretch stretch;
	outline: #666666 solid 1px;
	width: 100%;
}
#languages a {
	display: block;
	color: #666666;
	background-color: #CCCCCC;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0px;
	text-align: center;
	font-size: 1.3em;
	text-decoration: none;
}
#languages a:hover {
	background-color: #14FF64 !important;
}
#title {
	/* as child */
	grid-area: title;
	transform: rotate(270deg);
	transform-origin: center;
	position: relative;
	width: 34vh;
	height: 41px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -17vh;
/*	outline: orange none 1px !important;*/
}
#title p {
	margin: auto;
	font-size: 2.7ex;
	text-align: center;
	padding: 0.57ex;
/*	outline: cyan none 1px !important;*/
}
#description {
	/* as child */
	grid-area: desc;
	transform: rotate(270deg);
	transform-origin: center;
	position: relative;
	width: 38vh;
	height: 41px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -19vh;
	outline: orange none 1px !important;
}
#description p {
	margin: auto;
	font-size: 1.8ex;
	text-align: center;
	padding: 0.17ex;
	letter-spacing: 0.15rem;
/*	font-weight: bold;*/
}
#description p span {
	font-size: 1.4ex;
	letter-spacing: 1px;
}
#foto {
	grid-column: 1/6;
	grid-row: 1/5;
	display: block;
	position: relative;
	border: orange dashed 0px;
	width: 100%;
	height: 100%;
	cursor: grab; 
}
#navigator {
	display: block;
	width: 94.5vw;
	border: black solid 2px;
	outline: white solid 1px;
}
#counter {
	grid-area: counter;
	align-self: end;
	justify-self: center;
	display: block;
	z-index: 1;
	width: 100%;
/*	position: fixed;
	bottom: 8vh;
	left: 4vw;*/
	margin: auto;
	padding: 2px;
	font-size: 0.5rem;
	color: #14FF64;
}
#counter > p {
	margin: auto;
	padding: 0px;
	text-align: center;
}
#counter > p > span {
	font-size: 0.6rem;
	background-color: #14FF64;
	color: #666666;
	border: 1px solid transparent;
	padding: 2px;
	margin: 1px;
}
#btn-bar {
	/* as child */
	grid-area: right;
	justify-self: start;
	align-self: end;
	/* as parent */
	display: grid;
	grid-auto-flow: row;
	place-items: stretch stretch;
	gap: 3px;

/*	position: fixed;
	bottom: 6vh;
	right: 2vw;*/
}
#btn-bar > div {
/*	list-style: none;*/
	text-align: center;
	z-index: 1;
	width: 65%
}
#btn-bar a {
	width: 100%;
	border-radius: 50%;
	font-size: 0em;
}
#btn-bar a:hover {
	border: #666666 solid 1px;
}
#btn-bar a > img {
/*	padding-top: 1px;*/
	width: inherit;
}
#btn-bar a#ig-lnk {
/*	margin: 0.4vh;
	width: 4.2vh;*/
}
.social-ht {
	grid-area: hashtag;
	color:white;
	z-index: 1;
/*	margin-top: 3px;*/
}
.collapse {
	display: none;
}
.lightbox {
	grid-area: main;
	background-color: #666666;
	border: 2px solid #14FF64;
	border-radius: 3px;
	width: 80vw;
	height: 60vh;
	margin: auto;
	place-items: center center;
	z-index: 2;
	color: #14FF64;
}
.lightbox nav, .lcct-note nav {
	border-radius: 3px;
}
.lightbox button, .lcct-note button {
	color: #14FF64;
	display: inline-block;
	background-color: transparent;
	border: 1px none #CCCCCC;
	text-transform: uppercase;
	height: 100%;
	vertical-align: middle;
	float: right;
	font-size: 1.5em;
	margin-bottom: -0.3em;
	cursor: pointer;
}
.lightbox section {
	margin: 1.5em;
	border-radius: 3px;
	overflow-y: auto;
	height: 85%;
}
.lightbox section > div {
	display: inline-block;
	position: relative;
	top: 0px;
	padding: 2%;
}
.lightbox section > div > h1 {
	margin-top: 0em;
}
#proyecto, #project {
	font-size: 1em;
}
#proyecto > section, #project > section {
	border-radius: 3px;
}
#proyecto > section > p, #project > section > p {
	margin: 1.5em;
}
#ficha, #sheet {
	border: #14FF64 solid 2px;
	margin: 3em;
	padding: 1em;
	width: 48%;
	margin-left: 22%;
	font-size: 0.9rem;
}
#ficha h4, #sheet h4 {
	margin-top: 0px;
}
#ficha dt, #sheet dt {
	color: #CCCCCC;
}
#ficha > img, #sheet > img {
	width: 80%;
	margin-left: 10%;
}
p.signature {
	text-align:right;
}
#contacto, #contact {
	width: 40vw;
	height: 67vh;
}
#contacto > section, #contact > section {
	margin: 1.5em;
	border-radius: 3px;
}
#contacto h1, #contact h1 {
	font-size: 1.5em;
	width: 5.5em;
	background-image: url("/images/envelope.svg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 25%;
}
#mapa, #map {
	grid-area: main;
	position: relative;
	align-self: center;
	justify-self: start;
	background-color: black;
	width: 93vw;
	height: 93vh;
	z-index: 9;
}
#mapa button, #map button {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #14FF64;
	display: inline-block;
	background-color: transparent;
	border: 1px none #CCCCCC;
	font-size: 3rem;
	padding: 0.5rem 1.1rem 0.5rem 1.1rem;
	cursor: pointer;
}
#mapa img, #map img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
a.nav-contact {
	color: #666666;
	background-color: #14FF64;
	font-size: 1em;
	text-decoration: none;
	padding: 0.3em;
	border-radius: 0.2em;
}
a.social-ig img {
	width: 2.5em;
}
img.social-logo {
	margin-left: 0.5em;
	width: 2.5em;
}
#contacto div > div, #contact div > div {
	margin-bottom: 2.1em;
}
#contacto a.nav-contact, #contact a.nav-contact {
	padding: 0.5em;
}
#notas, #notes {
	font-size: 1em;
}
#notas ul, #notes ul {
	list-style: "\2731";
	column-count: 2;
	column-gap: 15px;
	margin-block-end: 1.5em;
}
#notas ul li, #notes ul li {
	padding-left: 5px;
}
a.note-link, a.note-link:visited {
	display: block;
	margin: 0px;
	width: 100%;
	height: 100%;
	color: #14FF64;
	background-color: #666666;
	text-decoration: none;
}
a:hover.note-link {
	text-decoration: line-through;
}
#notas .nav-note, #notes .nav-note {
	padding: 12pt;
	margin-right: 20px;
	color: #666666;
	background-color: #14FF64;
	border-radius: 0.5em;
}
#notas .nav-note h2, #notes .nav-note h2 {
	margin-top: 0em;
}
footer {
	grid-area: footer;
	outline: #666666 solid 1px;
	display: block;
	height: 100%;
	width: 100%;
	font-size: 6pt;
	color: white;
	background-color: black;
}
footer > p {
	position: fixed;
	right: 0px;
	margin: 2px;
	margin-right: 5px;
	padding: 0px;
	text-align: right;
}
footer+div {
	grid-area: nav;
}
.active {
	background-color: #14FF64 !important;
	outline: #666666 solid 1px;
}
/*
 * Puntos
 */
.lcct-point {
	top: -14.5px;
	left: -14.5px;
	width: 58px;
	height: 58px;
	cursor: pointer;
	display:block;
	overflow: visible;
	border-radius: 58px;
}
.lcct-point div.mask {
	display: none;
	position: fixed;
	top: 0px;
	left: 41px;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: 0.80;
}
.lcct-point div.laser {
	display: none;
	pointer-events: none;
	overflow: visible;
}
.lcct-point div.laser img {
	position: relative;
	width: 5760px; 
	height: 3600px;
	margin-left: 31px;
	margin-top: 17px;
	left: -2880px;
	top: -1800px;
	z-index: 3;
}
.lcct-point div.asterisk {
	position: absolute;
	top: 14.5px;
	left: 14.5px;
	width: 29px;
	height: 29px;
	background: url('/images/asterisk.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	pointer-events: none;
}
/*
 * Notas
 */
.lcct-note {
	grid-column: 1/3;
	grid-row: 1/2;
	color: white;
	background-color: #666666;
	position: relative;
	display: none;
	font-size: 0.8em;
	outline: 2px solid #14FF64;
	margin: auto;
	width: fit-content;
	z-index: 4;
}
.lcct-note section {
	position: relative;
	max-height: 83vh;
	max-width: 80vw;
	margin: 1.2rem;
	overflow: auto;
	padding-right: 1em;
}
.lcct-note pre {
	font-family: 'DIN Pro';
	margin-right: 1em;
}
.lcct-note > section > p {
	max-width: 30rem;
}
.lcct-note > section > div > p {
	max-width: 30vw;
}
#N09 section > ul {
	margin: 0em;
	padding: 0px;
	list-style-type: none;
	font-size: 0.6rem;
	color: #CCCCCC;
}
#N20 div {
	column-count: 3;
	column-gap: 1em;
}
#N25 div {
	column-count: 2;
	column-gap: 15px;
}
#N25 h4:first-child {
	margin-top: 0px;
}
#N34 {
	text-align: center;	
}
#Epilogo h3:first-child {
	color: #14FF64;
}
#Epilogo ol {
	width: 35vw;
	margin: 1em;
	padding: 0px;
	font-size: 0.6rem;
	color: #CCCCCC;
}
#Epilogo sup {
	font-size: 0.5rem;
}
#N39 h3:first-child, #N42 h3:first-child {
	color: #14FF64;
}
#N40 a {
	font-size: 0.7rem;
	padding: 0px;
}
p.author {
	color: #14FF64;
}
#lasers {
	display: none;
	background-color: transparent;
	background-repeat: no-repeat;
}
#mask {
	display: none;
	z-index: 2;
	background-color: black;
	opacity: 0.80;
}
#warn {
	display: none;
}
.full {
	grid-column: 2/3;
	grid-row: 1/2;
	height: 100%;
	width: 100%;
}

@media only screen and (max-device-height: 768px) {
	#title p {
		font-size: 1.6ex;
		padding: 1.8ex;
	}
	#description p {
		font-size: 1.5ex;
		padding: 0.67ex;
	}
}

@media only screen and (max-device-height: 440px) {
	#title p {
		font-size: 1.7ex;
		padding: 0.6ex;
	}
	#description p {
		font-size: 1.4ex;
		padding: 0.37ex;
	}
}

@media only screen and (max-device-height: 350px) {
	#title p {
		font-size: 1.5ex;
		padding: 1.1ex;
	}
	#description p {
		font-size: 0.55rem;
	}
}

@media only screen and (max-device-height: 320px) {
	#title p {
		font-size: 1.1ex;
		padding: 1.2ex;
	}
	#description p {
		font-size: 0.4rem;
	}
}

@media only screen and (max-device-width: 640px) {
	#N20 div {
		column-count: 2;
	}
}
@media only screen and (orientation:portrait) {
	#warn {
		display: block;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: black;
		background-image: url("/images/logo.png");
		background-repeat: no-repeat;
		background-position-x: center;
		background-size: contain;
		color: #14FF64;
		z-index: 10;
	}
	#warn h1 {
		font-size: 2rem;
		padding: 10%;
		margin: 0%;
	}
	#warn h1:first-child {
		margin-top: 25%;
	}
	#warn h1+h1 {
		color: #FFF79D;
	}
}
