@font-face {
	font-family: 'DIN Pro';
	src: url('DINPro.eot');
	src: local('DIN Pro'), local('DINPro'),
	url('DINPro.eot?#iefix') format('embedded-opentype'),
	url('DINPro.woff2') format('woff2'),
	url('DINPro.woff') format('woff'),
	url('DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	font-family: 'DIN Pro' !important;
	font-weight: normal;
	font-style: normal;
	font-size: 16pt;
	text-decoration: line-through;
	color: #666666;
	background-color: #CCCCCC;
}

#logo {
	position: fixed;
	right: 10pt;
	top: 10pt;
	z-index: 1000;
	max-width:50vw;
}

#logo img {
	width: 100%
}

#lateral {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 40px;
	outline: #666666 solid 1px;
	z-index: 5;
	background-color: #CCCCCC;
}

main {
	display: block;
	position: fixed;
	top: 0px;
	left: 40px;
	right: 0px;
	height: 100vh;
	width: 100%;
}

#button {
/*	outline: orange dashed 1px;*/
	width: 100%;
	height: 40px;
	display: block;
	background-image: url("/images/Hamburger_icon.svg");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	outline: #666666 solid 1px;
}

#menu {
	margin: 0px;
	padding: 0px;
	z-index: 1100;
	position: fixed;
	top: 0px;
	left: 40px;
	font-size: 25pt;
}

#menu div {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
	outline: #666666 solid 1px;
}

#menu div.active {
	background-color: #666666;
}

a.nav-link, a.nav-link:visited {
	display: block;
	margin: 0px;
/*	padding: 3pt;*/
	width: 100%;
	height: 100%;
	color: #14FF64;
	background-color: #666666;
	text-decoration: none;
}

a.nav-link:hover {
	width: 100%;
	height: 100%;
	color: #14FF64;
	background-color: #666666;
	text-decoration: line-through;
}

#menu div:first-child a {
	color: #CCCCCC;
	background-image: url("/images/logo_negro.png");
	background-color: #CCCCCC;
	background-size: 100%;
	background-repeat: no-repeat;
	pointer-events: none;
}
/*
#menu div a {
	display: block;
	margin: 0px;
	padding: 3pt;
	background-color: #CCCCCC;
}*/

#lateral > div+div {
	display: block;
	outline: #666666 solid 1px;
	width: 100%;
}

#languages p {
	background-color: #CCCCCC;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#title {
	outline: orange none 1px !important;
	height: 35%;
}

#description {
	outline: #666666 none 1px !important;
	height: 45%;
}

#title p {
	transform: rotate(270deg);
	transform-origin: left;
	position: relative;
	margin-left: 9px !important;
	height: 0px;
	width: 35vh;
	bottom: -34vh;
	font-size: 11pt;
	text-align: center;
}

#description p {
	transform: rotate(270deg);
	transform-origin: left;
	position: relative;
	margin-left: 2px !important;
	height: 0px;
	width: 45vh;
	bottom: -43vh;
	font-size: 10pt;
	letter-spacing: 2px;
	text-align: center;
	font-weight: bold;
/*	outline: yellowgreen solid 1px;*/
}

#description p span {
/*	margin-top: 0vh;*/
/*	margin-left: 20px !important;*/
	font-size: 8pt;
	letter-spacing: 1px;
/*	text-align: center;*/
}

#foto {
	display: block;
	position: relative;
	outline: red dashed 0px;
	width: 100%;
	height: 97%;
}

#navigator {
/*	display: block;*/
	position: absolute;
	width: 100%;
/*	height: 6%;*/
	bottom: 7%;
	border: white solid 2px;
	outline: #666666 solid 1px;
}

.collapse {
	display: none;
}

.lightbox {
	margin-left: 40px;
	position: fixed;
	background-color: #666666;
	z-index: 2000;
	border: 2px solid #14FF64;
	border-radius: 3px;
	top: 20vh;
	left: 10vw;
	width: 80vw;
	height: 60vh;
	padding: 0px;
	color: #14FF64;
}

.lightbox nav {
/*	display: block;
	width: 100%;
	height: 20pt;*/
/*	background-color: #999999;*/
	border-radius: 3px;
}

.lightbox button {
	color: #14FF64;
	display: inline-block;
	background-color: transparent;
	border: 1px none #CCCCCC;
/*	border-radius: 3px;*/
	text-transform: uppercase;
	height: 100%;
	vertical-align: middle;
	float: right;
	font-size: 20pt;
	margin-bottom: -8pt;
}

.lightbox section {
	margin: 20pt;
	border-radius: 3px;
	overflow-y: auto;
	height: 85%;
}

#proyecto {
	font-size: 12pt;
}

#proyecto > section {
	border-radius: 3px;
}

#proyecto > section > p {
	margin: 20pt;
}

#ficha {
	border: #CCCCCC solid 2px;
	margin: 40pt;
	padding: 30pt;
}

#ficha h4 {
	margin-top: 0px;
}

#ficha dt {
	color: #CCCCCC;
}

p.signature {
	text-align:right;
}

#comenta {
	top: 20vh;
	left: 10vw;
	width: 80vw;
	height: 60vh;
	padding: 0px;
}

#comenta > section {
	margin: 20pt;
	border-radius: 3px;
}

#comenta div {
	display: inline-block;
	position: relative;
	top: 0px;
	width: 45%;
	padding: 2%;
/*	outline: green solid 1px !important;*/
}

#comenta h1 {
	font-size: 20pt;
}

a.nav-contact {
	color: #14FF64;
	font-size: 12pt;
	text-decoration: none;
}

a.social-ig img {
	width: 20pt;
}

#comenta fieldset {
	border: 0px solid #CCCCCC;
	padding: 0px;
	margin: 0px;
}

#comenta legend {
	font-size: 0px;
}

#comenta input, #comenta textarea {
	border: 0px;
	background-color: #14FF64;
	padding: 0px;
	margin: 0px;
}

#comenta input.medium {
	width: 49%;
}

#comenta input.wide {
	width: 100%;
}

#comenta textarea {
	width: 100%;
	margin-top: 8pt;
}

#comenta input.send {
/*	width: 100%;*/
	background-color: transparent;
	color: #14FF64;
	float: right;
}

#notas {
	font-size: 12pt;
	padding-right: 10px;
}

#notas ul {
	list-style: "\2731";
	column-count: 2;
	column-gap: 15px;
}

#notas ul li {
	padding-left: 5px;
}

a.note-link, a.note-link:visited {
	display: block;
	margin: 0px;
/*	padding: 3pt;*/
	width: 100%;
	height: 100%;
	color: #14FF64;
	background-color: #666666;
	text-decoration: none;
}

a:hover.note-link {
	text-decoration: line-through;
}

#notas .nav-note {
	padding: 12pt;
	margin-right: 20px;
	color: #666666;
	background-color: #14FF64;
}

footer {
	outline: #666666 solid 1px;
	display: block;
	height: 3%;
	width: 100%;
	font-size: 6pt;
}

footer > p {
	position: fixed;
	right: 0px;
	margin: 2px;
	margin-right: 5px;
	padding: 0px;
	text-align: right;
}

.active {
	background-color: #14FF64 !important;
	outline: #666666 solid 1px;
}

/*
 * Puntos
 */
.lcct-point {
	width: 12px;
	height: 12px;
	cursor: pointer;
	z-index: 1700;
	display:block;
	overflow: visible;
}
.lcct-point div {
	position: absolute;
	top: -22px;
	left: -22px;
	width: 58px;
	height: 58px;
}
.lcct-point div:first-child {
	z-index: 1600;
	background: url('/images/Asterisco.svg');
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
}
/*
.lcct-point div.phantom {
	margin-top: -15vh;
	margin-bottom: -15vh;
	margin-left: -15vw;
	margin-right: -15vw;
	padding-top: 15vh;
	padding-bottom: 15vh;
	padding-left: 15vw;
	padding-right: 15vw;
}
.lcct-point div+div {
	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;
	z-index: 1500;
	outline: blue solid 1px;
}
.lcct-point div+div:hover {
	background-color: blue;
}
.lcct-point div.reduced {
	pointer-events: none;
}
*/
/*
 * Notas
 */
.lcct-note {
	color: white;
	background-color: #666666;
	position: absolute;
	display: none;
	font-size: 12px;
	outline: 2px solid #14FF64;
	padding: 3.3vw;
}
.lcct-note pre {
	font-family: 'DIN Pro';
}
.lcct-note p {
	max-width: 30vw;
}
#N34 {
	text-align: center;	
}
p.author {
	font-weight: bold;
}

#lasers {
	display: none;
	z-index: 1600;
	background-color: transparent;
	background-repeat: no-repeat;
}

#mask {
	display: none;
	z-index: 1500;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: 0.66;
	pointer-events: none;
}

