@font-face {
	font-family: 'DIN Pro';
	src: url('DINPro.eot');
	src: local('DIN Pro'), local('DINPro'),
	url('DINPro.eot?#iefix') format('embedded-opentype'),
	url('DINPro.woff2') format('woff2'),
	url('DINPro.woff') format('woff'),
	url('DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html {
	padding: 0px;
	margin: 0px;
}
body {
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	font-family: 'DIN Pro' !important;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	text-decoration: line-through;
	color: #666666;
	background-color: black;
}
#logo {
	position: fixed;
	right: 0.8em;
	top: 0.8em;
	max-width:35vw;
}
#logo img {
	width: 100%;
	cursor: pointer;
}
.panner {
	display: block;
	position: fixed;
	top: 42vh;
	width: 8vh;
	height: 8vh;
	clear: none;
	text-align: center;
	cursor: pointer;
}
.panner img {
	position: relative;
}
#left {
	float: left;
	left: 5vw;
}
#right {
	float: right;
	right: 2vw;
}
#lateral {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 3vw;
	outline: #666666 solid 1px;
	background-color: #CCCCCC;
}
main {
	display: block;
	position: fixed;
	top: 0px;
	left: 3vw;
	right: 0px;
	height: 100vh;
	width: 97vw;
	overflow: hidden;
}
#button:hover > div {
	display: block;
}
#button > a {
/*	outline: orange dashed 1px;*/
	width: 100%;
	height: 3vw;
	display: block;
	background-image: url("/images/menu_icon.svg");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	outline: #666666 solid 1px;
}
#menu {
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 3vw;
/*	font-size: 2.8vw;*/
	border: #CCCCCC solid 1px;
}
#menu div {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 3vw;
	list-style: none;
	border-top: #14FF64 solid 1px;
	background-color: #666666;
	overflow: hidden;
}
#menu div:first-child {
	border-top: #CCCCCC solid 0px;
}
#menu div.active {
	background-color: #666666;
}
a.nav-link, a.nav-link:visited {
	display: inline-block;
	margin: 0px;
	width: inherit;
	height: inherit;
	color: #14FF64;
	background-color: #666666;
	text-decoration: none;
	padding: 0.3em;
	font-size: 1.2rem;
	vertical-align: middle;
}
a.nav-link:hover {
	width: 100%;
	height: 100%;
	color: #14FF64;
	background-color: #666666;
	text-decoration: line-through;
}
#menu div:first-child a {
	display: block;
	color: #14FF64;
	background-image: url("/images/logo_dark.svg");
	background-color: #14FF64;
	background-size: inherit;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
}
#lateral > div+div {
	display: block;
	outline: #666666 solid 1px;
	width: 100%;
}
#languages p {
	background-color: #CCCCCC;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 2vw;
}
#title {
	outline: orange none 1px !important;
	height: 36vh;
}
#description {
	outline: #666666 none 1px !important;
	height: 45vh;
}
#title p {
	transform: rotate(270deg);
	transform-origin: left;
	position: relative;
	margin-left: 0.7vw !important;
	height: 0px;
	width: 39vh;
	bottom: -36vh;
	font-size: 1.1vw;
	text-align: center;
}
#description p {
	transform: rotate(270deg);
	transform-origin: left;
	position: relative;
	margin-left: 0.2vw !important;
	height: 0px;
	width: 45vh;
	bottom: -42vh;
	font-size: 1.0vw;
	letter-spacing: 0.15vw;
	text-align: center;
	font-weight: bold;
/*	outline: yellowgreen solid 1px;*/
}
#description p span {
/*	margin-top: 0vh;*/
/*	margin-left: 20px !important;*/
	font-size: 0.8vw;
	letter-spacing: 1px;
/*	text-align: center;*/
}
#foto {
	display: block;
	position: fixed;
	border: orange dashed 0px;
	width: 97vw;
	height: 97%;
	right: 0px;
}
#navigator {
	display: block;
	position: fixed;
	width: 94.5vw;
	top: 93.2vh;
	height: 1.5vh;
	left: 0.5vw;
/*	bottom: 7%;*/
	border: black solid 2px;
	outline: white solid 1px;
}
#counter {
	display: block;
	width: 3vw;
	position: fixed;
	bottom: 8vh;
	left: 4vw;
	font-size: 0.5rem;
	color: #14FF64;
/*	outline: 1px solid #14FF64;*/
}
#counter > ul {
	margin: 0px;
	padding: 0px;
}
#counter > ul > li {
	margin: 0px;
	padding: 2px;
	list-style: none;
	text-align: center;
	font-weight: bolder;
	background-color: transparent;
}
#counter > ul > li > span {
	font-size: 0.6rem;
	background-color: #14FF64;
	color: #666666;
	border: 1px solid transparent;
	padding: 2px;
	margin: 1px;
}
#btn-bar {
	display: block;
	position: fixed;
	bottom: 6vh;
	right: 2vw;
}
#btn-bar > ul > li {
	list-style: none;
/*	margin-top: -3px;*/
	text-align: right;
}
#btn-bar a {
	width: 5vh;
	border-radius: 2.5vh;
	font-size: 0em;
}
#btn-bar a:hover {
	border: #666666 solid 1px;
}
#btn-bar a > img {
	padding-top: 1px;
	width: inherit;
}
#btn-bar a#ig-lnk {
	margin: 0.4vh;
	width: 4.2vh;
}
#btn-bar .social-ht {
	color:white;
	margin-top: 3px;
}
.collapse {
	display: none;
}
.lightbox {
	margin-left: 3vw;
	position: fixed;
	background-color: #666666;
	border: 2px solid #14FF64;
	border-radius: 3px;
	top: 20vh;
	left: 10vw;
	width: 80vw;
	height: 60vh;
	padding: 0px;
	color: #14FF64;
}
.lightbox nav {
	border-radius: 3px;
}
.lightbox button {
	color: #14FF64;
	display: inline-block;
	background-color: transparent;
	border: 1px none #CCCCCC;
/*	border-radius: 3px;*/
	text-transform: uppercase;
	height: 100%;
	vertical-align: middle;
	float: right;
	font-size: 1.5em;
	margin-bottom: -0.3em;
}
.lightbox section {
	margin: 1.5em;
	border-radius: 3px;
	overflow-y: auto;
	height: 85%;
}
.lightbox section > div {
	display: inline-block;
	position: relative;
	top: 0px;
	padding: 2%;
/*	outline: green solid 1px !important;*/
}
.lightbox section > div > h1 {
	margin-top: 0em;
}
#proyecto {
	font-size: 1em;
}
#proyecto > section {
	border-radius: 3px;
}
#proyecto > section > p {
	margin: 1.5em;
}
#ficha {
	border: #14FF64 solid 2px;
       margin: 3em;
       padding: 1em;
	width: 48%;
	margin-left: 22%;
	font-size: 0.9rem;
}
#ficha h4 {
       margin-top: 0px;
}
#ficha dt {
       color: #CCCCCC;
}
#ficha > img {
	width: 80%;
	margin-left: 10%;
}
p.signature {
	text-align:right;
}
#comenta {
	top: 14vh;
	left: 30vw;
	/*
	width: 40vw;
	height: 67vh;
	*/
	width: 30rem;
	height: 27rem;
	padding: 0px;
}
#comenta > section {
	margin: 1.5em;
	border-radius: 3px;
}
#comenta h1 {
	font-size: 1.5em;
	width: 5.5em;
	background-image: url("/images/envelope.svg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 25%;
}
#mapa {
	position:relative;
	left: 4vw;
	top: 3vh;
	width: 53vw;
	display: none;
	background-color: black;
}
#mapa button {
	color: #14FF64;
	display: inline-block;
	background-color: transparent;
	border: 1px none #CCCCCC;
/*	border-radius: 3px;*/
	text-transform: uppercase;
	height: 100%;
	vertical-align: middle;
	float: right;
	font-size: 1.5em;
	margin-bottom: -0.3em;
	float: right;
	clear: none;
}
a.nav-contact {
	color: #666666;
	background-color: #14FF64;
	font-size: 1em;
	text-decoration: none;
	padding: 0.3em;
	border-radius: 0.2em;
}
a.social-ig img {
	width: 2.5em;
}
img.social-logo {
	margin-left: 0.5em;
	width: 2.5em;
}
#comenta div > div {
	margin-bottom: 2.1em;
}
#comenta a.nav-contact {
	padding: 0.5em;
}
#notas {
	font-size: 1em;
}
#notas ul {
	list-style: "\2731";
	column-count: 2;
	column-gap: 15px;
	margin-block-end: 1.5em;
}
#notas ul li {
	padding-left: 5px;
}
a.note-link, a.note-link:visited {
	display: block;
	margin: 0px;
/*	padding: 3pt;*/
	width: 100%;
	height: 100%;
	color: #14FF64;
	background-color: #666666;
	text-decoration: none;
}
a:hover.note-link {
	text-decoration: line-through;
}
#notas .nav-note {
	padding: 12pt;
	margin-right: 20px;
	color: #666666;
	background-color: #14FF64;
	border-radius: 0.5em;
}
#notas .nav-note h2 {
	margin-top: 0em;
}
footer {
	outline: #666666 solid 1px;
	display: block;
	height: 3%;
	width: 97vw;
	right: 0px;
	bottom: 0px;
	font-size: 6pt;
	position: fixed;
	color: white;
}
footer > p {
	position: fixed;
	right: 0px;
	margin: 2px;
	margin-right: 5px;
	padding: 0px;
	text-align: right;
}
.active {
	background-color: #14FF64 !important;
	outline: #666666 solid 1px;
}
/*
 * Puntos
 */
.lcct-point {
	top: -14.5px;
	left: -14.5px;
	width: 58px;
	height: 58px;
	cursor: pointer;
	display:block;
	overflow: visible;
	border-radius: 58px;
}
.lcct-point div.mask {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: 0.80;
}
.lcct-point div.laser {
	display: none;
	pointer-events: none;
	overflow: visible;
}
.lcct-point div.laser img {
	position: relative;
	width: 5760px; 
	height: 3600px;
	margin-left: 31px;
	margin-top: 17px;
	left: -2880px;
	top: -1800px;
}
.lcct-point div.asterisk {
	position: absolute;
	top: 14.5px;
	left: 14.5px;
	width: 29px;
	height: 29px;
	background: url('/images/asterisk.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	pointer-events: none;
}
/*
 * Notas
 */
.lcct-note {
	color: white;
	background-color: #666666;
	position: absolute;
	display: none;
	font-size: 0.8em;
	outline: 2px solid #14FF64;
	padding: 2vw;
}
.lcct-note pre {
	font-family: 'DIN Pro';
}
.lcct-note > p {
	max-width: 30rem;
}
.lcct-note-large {
	max-height: 85vh;
	overflow: scroll;
}
.lcct-note > div > p {
	max-width: 30vw;
}
#N20 div {
	column-count: 3;
	column-gap: 15px;
}
#N20 pre {
	margin: 0px;
}
#N25 div {
	column-count: 2;
	column-gap: 15px;
}
#N25 h4:first-child {
	margin-top: 0px;
}
#N34 {
	text-align: center;	
}
#Epilogo {
	height: 80vh;
	overflow: scroll;
}
#Epilogo h3:first-child {
	color: #14FF64;
}
#Epilogo ol {
	width: 35vw;
	margin: 1em;
	padding: 0px;
	font-size: 0.6rem;
	color: #CCCCCC;
}
#Epilogo sup {
	font-size: 0.5rem;
}
p.author {
	color: #14FF64;
}
#lasers {
	display: none;
	background-color: transparent;
	background-repeat: no-repeat;
}
#mask {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: 0.80;
}

